.cta {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    align-items: center;
    line-height: 3;

    button{
        width: 25%;
    }
}

.features {
    display: flex;
    border: 1px solid red;
}

.benefits {
    border: 1px solid purple;
    display: flex;
}