.cta {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    align-items: center;
    line-height: 2;
    padding: 10%;

    button{
        width: 25%;
        margin-top: 2%;
    }
}

.features {
    display: flex;
    border: 1px solid red;
    padding: 5%;

    p {
        padding: 2%;
    }
}

.benefits {
    border: 1px solid purple;
    display: flex;
    padding: 5%;

    p {
        padding: 2%;
    }
}