header {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;

    nav{
        border: 1px solid blue;

        a{
            text-decoration: none;
            border: 1px solid black;
        }
    }
}