.logo {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

header {
    display: flex;
    align-items: center;

    nav{
        width: 100%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        padding-bottom: .5%;

        a{
            text-decoration: none;
            color: #247BA0;

            &:hover{
                font-weight: bold;
                font-size: 125%;
            }
        }
    }
}